<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="icon" href="../../favicon.ico" th:href="@{../../favicon.ico}"></link>

    <title>MathRace - account details</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<!--  <img th:src='${tenant.logoUrl}'></img><br />
 -->
 
<img src='/img/math-icon.png'></img><br />

<h1>Tenant details</h1>
<ul>
<li>shortCode: <span th:text='${tenant.shortCode}'>shortCode</span>
<li>name: <span th:text='${tenant.name}'>name</span>
<li>contactEmail: <span th:text='${tenant.contactEmail}'>contactEmail</span>
<li>type: <span th:text='${tenant.type}'>type</span>
</ul>

<h1>Your sign in details</h1>
<ul>
<li>image: <img th:src='${samlDetail.image}' />
<li>givenName: <span th:text='${samlDetail.givenName}'>givenName</span>
<li>familyName: <span th:text='${samlDetail.familyName}'>familyName</span>
<li>email: <span th:text='${samlDetail.email}'>email</span>
</ul>


<p>We hope you enjoy using Math Race addition testing to help build your team.
</p>

<p>You just need a few credits to get you started.
</p>

<h1>Your gauge quiz credits</h1>
<table>
<tbody>
<tr><td>Remaining quizzes:</td><td th:text='${account.creditsRemaining}'>??</td></tr>
<tr><td>Used quizzes:</td><td th:text='${account.creditsUsed}'>??</td></tr>
</tbody>
</table>

<form action="#" th:action="@{/t/{tenant}/account(tenant=${tenant.shortCode})}" th:object="${accountForm}" method="post">
<p>Get credits: <input type="submit" name="1credit" value="1 credit" /><input type="submit" name="5credits" value="5 credits" />
</p>
</form>

</body>
	
</html>