<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="icon" href="../../favicon.ico" th:href="@{../../favicon.ico}"></link>

    <title>Gauge - quiz result</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1>Insufficient credits!</h1>

<img src='/img/empty.jpg' />

<p>You can't send any more Math Race invites until you have some more credits.
</p>


</body>
	
</html>